# 1- write a program which takes single input from user contaning first name,last name and age as comma separated value and display then in 3 lines in given format below.

example user input : Ankit,Bansal,35

output:
First name is Ankit
last name is Bansal
Ankit is 35 years old

In [11]:
Info_input = input()
lst = Info_input.split(",")

sentence = "First name is "+ lst[0]+ " last name is "+ lst[1]+ " "+ lst[0]+ " is "+ lst[2]+ " years old"
new_line = f"First name is {lst[0]}\nLast Name is {lst[1]}\n{lst[0]} is {lst[2]} years old"
print(new_line)

Nila,Paul,27
First name is Nila
Last Name is Paul
Nila is 27 years old

# 2- given 2 list as list1= [1,3,4] and list2 = [2,4,6]

combined the 2 list and diplay the same without using extend method

In [3]:
n = input()
m = input()
nn = n.split(",")
mm = m.split(",")
list1 = list(n)
list2 = list(m)

print(list(list1+list2))

123
456
['1', '2', '3', '4', '5', '6']

# 3- given a list list1=[1,2,3,4,5,6,7,8]
diplay a new list which contains only odd position index values from above list.

New list with odd position values: [2, 4, 6, 8]

In [ ]:
list1=[1,2,3,4,5,6,7,8]

odd_position_values = []
for i in range(len(list1)):
    if i % 2 != 0:
        odd_position_values.append(list1[i])

print("New list with odd position values:", odd_position_values)

# 4- ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements from that name.

example : input : KKR
output : ['KKR','LSG','PBKS']

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

team = input()

team_index = ipl.index(team)
print("list of all elements from that name: ", ipl[team_index:])

# 5- ipl= ['CSK','MI','KKR','LSG','PBKS']

take a ipl team name as input from user and display a list of all elements except input one

example : input : KKR
output : ['CSK','MI','LSG','PBKS']

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

team = input("Enter team name: ")

if team in ipl:
    idx = ipl.index(team)
    removed_team = ipl.pop(idx)
    print(f"removed team: {removed_team}")
else:
    print(f"{team} not in list")
    
print(ipl)

# 6- ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . replace the index element of list with new value and display the same

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

user_input = input("Enter CSV: ")
idx,new_team = user_input.split()
index = int(idx)
ipl[index]= new_team
print(ipl)

# 7- ipl= ['CSK','MI','KKR','LSG','PBKS']
take ipl team name as user input. display True if the team exists else display False.

In [24]:
ipl= ['CSK','MI','KKR','LSG','PBKS']
team = input()

if team in ipl:
    print("True")
else:
    print("False")

RR
False

# 8-ipl= ['CSK','MI','KKR','LSG','PBKS']
take a user input contains 2 comma seprated values index,new_team . Add the new value at that index in the list. 
Display the old list , new list,length of original and new list

example : input : 2,SRH
output : 
old list : ['CSK','MI','KKR','LSG','PBKS'] and length 5
new list : ['CSK','MI','SRH','KKR',LSG','PBKS'] and length 6

In [ ]:
ipl= ['CSK','MI','KKR','LSG','PBKS']

user_input= input()
idx, new_team = user_input.split()

index = int(idx)

#old tteam list and its length

print(ipl)
print(len(ipl))

ipl.insert(index, new_team)

#new tteam list and its length

print(ipl)
print(len(ipl))